Project/ProjectERP/AppSincoProject/Web References/WsFestivosRef/WsCalcFestivos.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Calculate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="anoInicio" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="anoFin" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CalculateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CalculateResult" type="tns:ArrayOfFestivo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfFestivo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Festivo" nillable="true" type="tns:Festivo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Festivo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Fecha" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Descripcion" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ArrayOfFestivo" nillable="true" type="tns:ArrayOfFestivo" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CalculateSoapIn">
    <wsdl:part name="parameters" element="tns:Calculate" />
  </wsdl:message>
  <wsdl:message name="CalculateSoapOut">
    <wsdl:part name="parameters" element="tns:CalculateResponse" />
  </wsdl:message>
  <wsdl:message name="CalculateHttpGetIn">
    <wsdl:part name="anoInicio" type="s:string" />
    <wsdl:part name="anoFin" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CalculateHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfFestivo" />
  </wsdl:message>
  <wsdl:message name="CalculateHttpPostIn">
    <wsdl:part name="anoInicio" type="s:string" />
    <wsdl:part name="anoFin" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CalculateHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfFestivo" />
  </wsdl:message>
  <wsdl:portType name="WsCalcFestivosSoap">
    <wsdl:operation name="Calculate">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">&lt;div  style='font-size:14px'&gt;&lt;b&gt;Obtener Festivos&lt;/b&gt;&lt;/div&gt;&lt;br /&gt;&lt;div style='font-size:12px'&gt;Obtiene dias Festivos entre un rango de años dado&lt;/div&gt;</wsdl:documentation>
      <wsdl:input message="tns:CalculateSoapIn" />
      <wsdl:output message="tns:CalculateSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WsCalcFestivosHttpGet">
    <wsdl:operation name="Calculate">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">&lt;div  style='font-size:14px'&gt;&lt;b&gt;Obtener Festivos&lt;/b&gt;&lt;/div&gt;&lt;br /&gt;&lt;div style='font-size:12px'&gt;Obtiene dias Festivos entre un rango de años dado&lt;/div&gt;</wsdl:documentation>
      <wsdl:input message="tns:CalculateHttpGetIn" />
      <wsdl:output message="tns:CalculateHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WsCalcFestivosHttpPost">
    <wsdl:operation name="Calculate">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">&lt;div  style='font-size:14px'&gt;&lt;b&gt;Obtener Festivos&lt;/b&gt;&lt;/div&gt;&lt;br /&gt;&lt;div style='font-size:12px'&gt;Obtiene dias Festivos entre un rango de años dado&lt;/div&gt;</wsdl:documentation>
      <wsdl:input message="tns:CalculateHttpPostIn" />
      <wsdl:output message="tns:CalculateHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WsCalcFestivosSoap" type="tns:WsCalcFestivosSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Calculate">
      <soap:operation soapAction="http://tempuri.org/Calculate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WsCalcFestivosSoap12" type="tns:WsCalcFestivosSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Calculate">
      <soap12:operation soapAction="http://tempuri.org/Calculate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WsCalcFestivosHttpGet" type="tns:WsCalcFestivosHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="Calculate">
      <http:operation location="/Calculate" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WsCalcFestivosHttpPost" type="tns:WsCalcFestivosHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="Calculate">
      <http:operation location="/Calculate" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WsCalcFestivos">
    <wsdl:port name="WsCalcFestivosSoap" binding="tns:WsCalcFestivosSoap">
      <soap:address location="http://desarrollo/sincook/ERPNET/Comunicaciones/ServiciosWeb/WsCalcFestivos.asmx" />
    </wsdl:port>
    <wsdl:port name="WsCalcFestivosSoap12" binding="tns:WsCalcFestivosSoap12">
      <soap12:address location="http://desarrollo/sincook/ERPNET/Comunicaciones/ServiciosWeb/WsCalcFestivos.asmx" />
    </wsdl:port>
    <wsdl:port name="WsCalcFestivosHttpGet" binding="tns:WsCalcFestivosHttpGet">
      <http:address location="http://desarrollo/sincook/ERPNET/Comunicaciones/ServiciosWeb/WsCalcFestivos.asmx" />
    </wsdl:port>
    <wsdl:port name="WsCalcFestivosHttpPost" binding="tns:WsCalcFestivosHttpPost">
      <http:address location="http://desarrollo/sincook/ERPNET/Comunicaciones/ServiciosWeb/WsCalcFestivos.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>